@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');


* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    width: 100%;
}


.calculator {

    padding: 0;
    background-color: hsl(221, 14%, 31%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;


}


.title-container {
    display: flex;
    max-width: 960px;
    width: 440px;
    border-radius: 5px;
    justify-content: space-between;
    background-color: hsl(221, 14%, 31%);
}

h1 {
    color: white;
    margin-left: 2rem;
}

h6 {
    margin-top: 5px;
    color:hsl(0, 0%, 90%);
    display: flex;
    margin-left: 190px;
    font-size: 16px;
}

.themes-displays {
    width: 80px;
    background-color: hsl(223, 31%, 20%);
    height: 20px;
    border-radius: 30px;
    position: relative;
}

[id="checkbox"], [id="checkbox2"], [id="checkbox3"] {

    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    top: 3px;
    transition: 0.4s;
}

[id="checkbox"] {
    margin-left: 7px
}
[id="checkbox2"] {
    margin-left: 23px
}
[id="checkbox3"] {
    margin-left: 33px
}

.themes-displays:checked {
    background-color:hsl(6, 63%, 50%);
}

label {
    color: white;
    top: -20px;
    position: relative;
}

label[for="checkbox"] {
    left: 13px;
}

label[for="checkbox2"] {
    left: 25px;
}

label[for="checkbox3"] {
    left: 37px;
}





.opperations-container{
    color: white;
    margin: 2rem;
    padding: 1rem;
    background:hsl(224, 36%, 15%);
    text-align: end;
    border-radius: 6px;
    height: 90px;
    font-size: 35px;
    font-weight: 700;
    width: 440px;
}

p {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 15px;
}
.inputs-container{

    background:hsl(223, 31%, 20%);
    height: 440px;
    width: 440px;
    border-radius: 6px;
    display:grid;
    grid-template-columns: repeat(4, 80px );
    grid-template-rows: repeat(4,60px);
    gap: 24px;
    padding:20px;
    position:relative;
}

.inputs-container button {
    font-size: 30px;
    border-radius: 10px;
}


.reset {
    position: absolute;
    background:hsl(225, 21%, 49%);
    left: 14px;
    color:white;
    bottom: 14px;
    width: 185px;
    height: 50px;
    font-size:16px;
    font-weight: 700;
}

.execute {
    position:absolute;
    right:14px;
    bottom: 14px;
    width:184px;
    height:50px;
    background:hsl(6, 63%, 50%);
    color:white;
    font-weight: 700;
}

